body{

    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    
}

.navbar-brand{
    margin-left: 250px;

    
}




  .container-avatar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: auto;
  
   
  }


.row{
    width: 0;
}



header{
    border-bottom: 1px solid gray;
    
}




  
   
   
#img-logo{
    margin-left: 250px;
}
  
 






.btn-voltar{
    position: absolute;
    right: 250px;
    width: 110px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-end;
}

.container-main{

padding-top: 100px;
max-width: 600px;
margin: auto;
}

.mb-3{

    font-size: 20px;
    color: gray;
}
.titulo{
    padding-bottom: 20px;
}

.btn-submit{
    margin-top: 20px;
    width: 110px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.btn-back {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 110px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-right: 250px;
    background-color: black;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
  }
.fas{
    
    padding: 8px;
}

#button-send{
 
    width: 110px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin-top: 10px;
   

}

#botao{
    text-decoration: none;

}

#botao:hover{
    color: white;
    background-color: rgb(36, 35, 35);
}




@media (max-width: 767px) {


    #img-logo{
        max-width: 80px;
        height: 100%;
        
        


        }

    


    .container-main{

        padding-left: 20px ;
        padding-right: 20px ;

    }

    .titulo{
        font-size: 30px;
    }

    #form-send{
        width: 70%;
        margin: auto;
       
    }
   .btn-back{
    margin-right: 0px;
   }


}



@media (max-width: 997px){

    #img-logo{
        margin-left: 0px ;}



  }