body{

    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    
}

#img-logo{  
    margin-left: 250px;
    display: flex;
    
   


}

header{
    border-bottom: 1px solid gray;
    
}


.dropdown{
    margin-right: 250px;
    
}

.row{
    width: 0;
}

.btn{
    width: 110px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-menu {
    background-color: #565e64;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 110px;
    padding: 0.1em;
    height: 42px;
    
    
}



.dropdown-menu a:hover {
    background-color: #565e64;
    
    color: rgb(103, 159, 211); /* Cor do texto ao passar o mouse */
  }


.dropdown-item{
    color: white;
    
  
    
  
}

main {
    height: 100%;
    background-color: #f1f1f1 ;
    display: flex;
    justify-content: center;
   width: 100%;
   
  }


  .container-main{
    width: 100%;
  }

.titulo1{

    margin-top: 30px;
    font-size: 55px;



}



.texto1{


    font-size: 26px;




}

.avatar{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.notebook{
    width: 310px;
    height: 240px;
}
    
.codigobinario{
    width: 250px;
    height: 175px;
}

.texto2{
font-size: 25px;
flex-direction: column;
max-width: 500px; 
margin: 0 auto; 
padding-bottom: 100px;




}


.titulo2{
    padding-bottom: 30px;
    padding-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.apresentacao{
    background-color: black;
    color: white;
    width: 100%;
    
}


.container-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.technologies{

    max-width: 160px;
   margin: 100px 20px 30px 20px;
}


  /* Estilos específicos para telas menores */
  @media (max-width: 767px) {
  .technologies{
    max-width: 70px ;
  }
  .avatar{

    max-width: 100px;

  }

  .notebook{
    max-width: 110px;
    max-height: 90px;

  }

  .codigobinario{
   max-width: 100px;
    max-height: 70px;

  }

  .btn {
   
    justify-content: flex-end; /* Alinha os botões ao final do contêiner */
   
   
  }

 
  .dropdown{
    margin-right: 0px;
    
}

  #img-logo{
  max-width: 80px;
  height: 100%;
  
  
  }
  
  .titulo1{
    font-size: 30px ;
  
  }
  .titulo2{
    font-size: 30px ;
  }
.titulo3{
    font-size: 30px;
}
  

  .texto2{
    font-size: 18px;

  }

  .btn-rede{
    max-width: 70px;
  }
  .container-section{
   padding: 30px 20px 30px 20px;
  }

 .container-main p, h1{
  margin: 0px 20px 0px 20px;
 }

  }
  

  @media (max-width: 997px){

    #img-logo{
        margin-left: 0px ;}



  }

  
  @media (max-width: 405px){

    .btn{
      max-width: 90px;
      padding: 5px;

    }

  }
  /* Estilos específicos para tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 85%;
    }
  }
  
  /* Estilos específicos para desktops */
  @media (min-width: 992px) {
    .container {
      width: 70%;
    }
  }
  